.button {
    display: flex;
    align-items: center;
    margin-left: 5px;
  }
  
  .create-deck-container {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .plus-sign {
    font-size: 30px;
    margin-right: 5px;
  }

  